@import "../../../../utilities/variables";

.landing-nav{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: $color-3;
}

.landing-nav button{
    outline: none;
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    font-size: 1.38rem;
    background: $color-1;
    color: $color-3;
    cursor: pointer;
    margin-right: 40px;
    -webkit-box-shadow: 2px 2px 0px 1px $color-2;
    -moz-box-shadow: 2px 2px 0px 1px $color-2;
    box-shadow: 2px 2px 0px 1px $color-2;
}

.landing-nav button:hover{
    background: $color-1;
    color: $color-3;
    transform: scale(1.15);
}