@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


//fonts
$font-1: 'Montserrat', sans-serif;

//colors
$color-1: #7CA46C;
$color-2: #BBE8BD;
$color-3: rgb(244, 245, 241);
$color-4: #383838;

